body {
    padding-top: 5rem;
}

footer  {
    padding-top: 20px;
}

.outside{
    border: solid 10px #0050ff;
    border-radius: 5px;
    width: 350px;
    height: 450px;
    background-color: #ddfffd;
    color: black;
}

.cont{
    display: grid;
	grid-template-columns: repeat(3,.03fr);
}

a:link {
    text-decoration: none;
}